* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bckgnd-clr: #0b0d10;
  --main-text: #ece9e2;
  --sec-text: #7c838c;
  --border-color: #23272e;
  --accent-color: #3fb950;
}

body {
  background-color: var(--bckgnd-clr);
  /* color: var(--main-text); */
}

.nav__container {
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 1.4rem clamp(1rem, 5vw, 4.8rem);
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.6rem;
  border-bottom: solid 1px var(--border-color);
  position: fixed;
  background-color: var(--bckgnd-clr);
}

.nav__container div {
  display: flex;
  flex-grow: 1;
  color: var(--main-text);
}

.nav__container ul {
  display: flex;
  list-style: none;
  gap: 30px;
  color: var(--sec-text);
}

.nav__container ul span {
  color: var(--border-color);
}

.name__container {
  display: flex;
  align-items: center;
  gap: 7px;
}

.green__light {
  width: 7px;
  height: 7px;
  background-color: var(--accent-color);
  border-radius: 50px;
  box-shadow: 0 0 10px 0 var(--accent-color);
}
